/* Header Styles */
header {
    background-color: #1abc9c; /* turquoise */
    color: #fff;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* add a shadow effect */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

/* Main Content Styles */
main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin: 50px 0;
}

section h1 {
    font-size: 36px;
    text-align: center;
    padding: 20px 0;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/* About Me Section Styles */
.about-me {
    text-align: center;
}

.about-me h1,
.skills h1,
.projects h1,
.contact h1 {
    background-color: #ff7f50; /* coral */
    color: #fff;
    padding: 10px;
}

.about-me p {
    font-size: 24px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f5deb3; /* wheat */
    color: #333;
    border-radius: 5px;
}

.skills li {
    background-color: #f5deb3; 
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 735px;
    border: 1px solid #ddd; /* add a light gray border */
}

/* Projects Section Styles */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects h2 {
    background-color: #ff7f50;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.projects-container li {
    background-color: #f5deb3;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 735px;
}

.projects-container li a {
    color: #fff;
    font-size: 24px;
}


/* Contact Section Styles */
.contact {
    text-align: center;
}

.contact h2 {
    background-color: #f5deb3;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.contact form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
  }
      
  .contact label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
      
.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}
      
.contact input[type="submit"] {
    background-color: #344ab5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
      
body {
     background-color: #f5deb3;
     font-family: "Times New Roman", Times, serif;
    }